# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
venv/
.venv/
env/
.env
*.env

# Node
node_modules/
dist/
.DS_Store
*.local

# Env files
.env
.env.local
.env.*.local
medicore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# PDFs / uploads (real patient data)
demo/charts/*.pdf
